version: "3.9"

services:
  api:
    image: gessanandrade/apinewsredis
    build: .
    ports:
      - "5000:3050"
    depends_on:
      - link-db
    environment:
      - MONGO_URL=mongodb://link-db:27017/db_portal
      - REDIS_URL=redis://redis:6379

  link-db:
    image: mongo:4.4
    ports:
      - "27017:27017"
  
  redis:
    image: "redis"
    ports:
      - "6379:6379"
